.container {
  background-color: white;
  /* color: black; */
}

.cryptoMarketTable {
  color: white;
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: auto;
  color: black;

}

.cryptoMarketTable-item {
  border: 1px solid grey;
  display: grid;
  grid-template-columns: 100px 1fr 1fr 1fr 1fr 1fr 1fr;
}

.cryptoMarketTable-item > p {
  width: 100%;
}

.cryptoMarketTable-item > span {
  display: flex;
  align-items: center;
}
.cryptoMarketTable-item > span > img {
  height: 2rem;
  width: 2rem;
}

.table-header {
  display: grid;
  grid-template-columns: 100px 1fr 1fr 1fr 1fr 1fr 1fr;
  border: 1px solid grey;
}

.table-header > p {
  width: 10rem;
}

.changeprice24Box {
  animation-name: changeprice24Box;
  animation-duration: 1s;
  
}

#Turn_Lights_On {
  /* color: #1c1f21; */
  color: white;
  background-color: #1c1f21;

}

#Turn_Lights_off {
  color: black;
  background-color: white;

}

.priceBox {
  border-radius: 5%;
}

.highPriceBox {
  color: black;
  background-color: #f5f5f5;
  border-radius: 5%;
  animation-name: priceBoxhighPriceBox;
  animation-duration: 2s
}

.lowPriceBox {
  color: black;
  border-radius: 5%;
  background-color: #f5f5f5;
  animation-name: priceBoxlowPriceBox;
  animation-duration: 2s
}

.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid green;
}

.arrow-down {  
  width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid red;
}

.switchToggleBackgroundColor {
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: #1c1f21;
}

@keyframes priceBoxhighPriceBox {
  from {
    background-color: green;
    
  }
  to {
    background-color: white;
  }
}

@keyframes priceBoxlowPriceBox {
  from {
    background-color: red;
    
  }
  to {
    background-color: #f5f5f5;
  }
}

@keyframes changeprice24Box {
  from {
    background-color: green;
  }
  to {
    background-color: white;
  }
}
