.dashboard-container {
  border: 5px solid red;
  display: grid;
  grid-template-columns: 90% 10%;
  grid-template-areas:  "none none"
                        "none none"
                        "banner banner"
                        "news news";
  grid-gap: 1px;
}

.dashboard-item-banner {
  grid-area: banner;
  background-color: #1c1f21;
  font-family: sans-serif;
  height: 10rem;
  color: white;
  text-align: center;
  display: grid;
  align-content: space-around;
}

.dashboard-item-banner > h3 {
  font-size: 2rem;
}

.dashboard-item-news {
  grid-area: news;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;
  /* justify-content: space-between; */
}

.dashboard-item-news > .news-item {
  background-color: red;
  display: grid;
  justify-items: center;
}

.newsimage {
  width: 20rem;
}

.currentTrendingBox {
  border: 2px solid red;
  display: inline-block;
  padding: 10px;
  margin: 10px;
}

.topTrendingCryptoBTCBox {
  border: 1px solid  rgb(186, 182, 182);
  /* margin-bottom: 5px; */
}

.topTrendingCryptoZECBox {
  border: 1px solid  rgb(186, 182, 182);
  margin-bottom: 5px;
}

.topTrendingCryptoETHBox {
  border: 1px solid  rgb(186, 182, 182);
  margin-bottom: 5px;
}

.displayTrendingCoinBox {
  border: 1px solid  rgb(186, 182, 182);
  
}

.coinapihighPriceBox {
  animation-name: arrowuphighPriceBox;
  animation-duration: 10s;
  color: blue;
  background-color: none;
}

.coinapilowPriceBox {
  animation-name: arrowdownlowPriceBox;
  animation-duration: 10s;
  font-variant-east-asian: jis78;
  color: orange;
  background-color: none;
}

.arrow-up {
  display: inline-block;
  width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid blue;
  animation-duration: 2s
}

.arrow-down {
  display: inline-block;
  width: 0; 
  height: 0; 
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid orange;
  animation-duration: 2s
} 

@keyframes arrowuphighPriceBox {
  from {
    border-bottom: 10px solid blue;
  }
  to {
    border-bottom: 10px solid white;
  }
}

@keyframes arrowdownlowPriceBox {
  from {
    border-top: 15px solid orange;
  }
  to {
    border-bottom: 10px solid white;
  }
} 



