.form-container {
  /* border: 5px solid red; */
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  height: 100vh;
  /* width: 40rem; */
  margin: auto;
  /* align-content: center; */
  justify-content: center;
}

.form-item {
  display: flex;
  flex-direction: column;
  background-color: yellow;
  /* border: 1px solid lightcoral; */
  box-shadow: 5px 5px blue;
  height: 20rem;
  width: 30rem;
  margin: auto;
  justify-content: center;
}

.button-item {
  display: flex;
  justify-content: space-between;
  /* flex-basis: 10%; */
  margin-top: 10px;
}

/* .button-item > button {
  border-style: none;
  cursor: pointer;
  box-shadow: 1px 1px red;
}

.button-item > button:hover {
  box-shadow: none;

} */